.background-image {
  background-image: linear-gradient(
      to bottom,
      rgba(black, 0),
      rgba(black, 0.0625)
    ),
    url('../../../assets/images/backgrounds/what-the-hex-dark.png');
  background-repeat: repeat;
  background-position: initial;
  background-size: initial;
  background-attachment: fixed;
}

.brand-image {
  border-radius: 2em;
  max-width: 50%;
  overflow: hidden;
  line-height: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

ion-item.transparent-input {
  --ion-item-background: transparent;
  --border-color: rgba(255, 255, 255, 0.75);
  --highlight-color-focused: white;
}

.custom-link {
  text-decoration: none;
  color: dodgerblue;
  transition: 0.4s;

  &:hover {
    text-decoration: underline;
    color: white;
  }
}

.signup-icon {
  vertical-align: middle;
  margin-bottom: 0.125em;
}

.send-button {
  --background: royalblue;
  --background-focused: mediumblue;
  --background-activated: mediumblue;
}
