<div class="background-image">
  <ion-grid fixed no-padding>
    <ion-row class="vh-100" justify-content-center align-items-center>
      <ion-col size-md="8" size-lg="6" size-xl="5">
        <ion-img
          class="brand-image"
          src="../../../assets/images/branding/AppSplash.jpg"
        ></ion-img>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div padding>
            <ion-item class="transparent-input">
              <ion-input
                type="email"
                placeholder="Email"
                formControlName="email"
                color="light"
              ></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button type="submit" expand="block" class="send-button">
              Send Recovery Email
              <ion-icon
                name="send"
                slot="end"
                size="small"
                class="send-icon"
              ></ion-icon>
            </ion-button>
          </div>
        </form>
        <div padding-horizontal>
          <a class="custom-link" (click)="onLogin()">
            Back to Login
            <ion-icon class="signup-icon" name="arrow-forward"></ion-icon>
          </a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
