<ion-header>
  <ion-toolbar color="secondary" class="custom-toolbar">
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <!-- <ion-menu-toggle>
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-menu-toggle> -->
    <ion-title>VAl</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Text Items -->
  <ion-list>
    <ion-item *ngFor="let item of listItems" (click)="goto(item)">
      <ion-label>{{ item.Description }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Now that your app has been created, you'll want to start building out
          features and components. Check out some of the resources below for next
          steps.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-item> <app-cast></app-cast></ion-item>
      <ion-button (click)="image()">Show Image</ion-button>
    </ion-list> -->
</ion-content>
