<ion-header>
  <ion-toolbar color="secondary" class="custom-toolbar">
    <ion-buttons slot="start" (click)="openSideDrawer()">
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Lightning Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" class="w-100 h-100"></div>
</ion-content>
