<ion-app>
  <ion-split-pane>
    <ion-menu menuId="side-drawer">
      <ion-header>
        <ion-toolbar no-padding>
          <ion-img class="sidebar-logo" src="../../../assets/images/branding/sidebar-logo.svg"></ion-img>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" class="sidebar-icon"></ion-icon>
              <ion-label> {{ p.title }} </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <!-- <ion-menu-toggle>
            <ion-item color="primary" (click)="logout()">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label> Logout </ion-label>
            </ion-item>
          </ion-menu-toggle> -->
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
