<ion-header>
  <ion-toolbar color="secondary" class="custom-toolbar">
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Stage Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed no-padding>
    <ion-img class="cast-preview" [src]="thumbnail"></ion-img>

    <app-cast *ngIf="castingImage" [image]="castingImage"></app-cast>

    <ion-row justify-content-center padding-vertical>
      <ion-col
        size="12"
        size-md="6"
        size-lg="4"
        size-xl="3"
        *ngFor="let card of listCards"
      >
        <ion-card no-margin>
          <ion-item class="color-item">
            <ion-icon
              slot="start"
              name="square"
              [class]="card.colorCode"
            ></ion-icon>
            <ion-label class="color-name"
              ><b>{{ card.colorCode }}</b></ion-label
            >
          </ion-item>
          <ion-card-content>
            <p>
              <b>Distance</b> <span>: </span> <span>{{ card.distance }}</span>
            </p>
            <p>
              <b>Size</b> <span>: </span> <span>{{ card.size }}</span>
            </p>
            <p>
              <b>Type</b> <span>: </span> <span>{{ card.type }}</span>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
